

.ch-about h2 {
  text-transform: uppercase;
  color: darkslategray;
  font-family: 'Roboto', sans-serif;
}

.ch-about h4 {
  text-transform: uppercase;
  color: rgb(97, 99, 99);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.ch-about p {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: rgb(170, 170, 170);
  font-size: 20px;
  font-weight: 300;
}

.ch-about hr {
  width: 5%;
  border-width: 3px;
}