nav {
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.ch-support {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    border: 2px solid white;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li {
    position: relative;
}
nav li:not(:first-child):after {
    content: '';
    position: absolute;
    width: 1px;
    height: 30%;
    bottom: 32%;
    border-right: solid 1px #fff;
}

nav a {
    color: white;
}

nav a:hover {
    color: rgb(252, 5, 5);
}

.is-blue {
    color: rgb(0, 174, 255);
}

nav .active {
    padding-bottom: -20px;
    position: relative;
}

@media screen and (min-width: 1021px) {
    nav .active:before {
        content: "";
        position: absolute;
        width: 30px;
        height: 1px;
        bottom: 5px;
        left: 8px;
        border-bottom: 2px solid rgb(255, 0, 0);
        ;
    }
}

.active .nav-link {
    color: white;
}

@media screen and (max-width: 1020px) {
    nav .active:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 1px;
        bottom: 10px;
        left: 1px;
        border-bottom: 2px solid rgb(255, 0, 0);
        ;
    }
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar-toggler-icon {
    margin-top: 19px;
    color: white;
}