.light {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

@media screen and (min-width: 200px) {
  .med {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase; } }

@media screen and (min-width: 450px) {
  .med {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 70px;
    text-transform: uppercase; } }

@media screen and (min-width: 400px) {
  .med {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase; } }

.red {
  color: #bd0303; }

.ch-hero img {
  -webkit-filter: contrast(50%);
  /* Safari 6.0 - 9.0 */
  filter: contrast(50%); }

.ch-hero .carousel-item .img-fluid {
  width: 100%;
  height: 100%; }

.ch-hero .carousel {
  position: relative; }

/*mobile*/
@media screen and (max-width: 420px) {
  .hover-slide {
    position: absolute;
    width: 100%;
    top: 110px;
    left: 8%; } }

/*tablet*/
@media screen and (min-width: 767px) {
  .hover-slide {
    position: absolute;
    width: 100%;
    top: 100px;
    left: 4%; } }

/*tablet-pro*/
@media screen and (min-width: 1023px) {
  .hover-slide {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 2%; } }

/*desktop*/
@media screen and (min-width: 1050px) {
  .hover-slide {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 2%; } }

@media screen and (min-width: 450px) {
  .carousel-indicators--round li {
    border-radius: 8px;
    margin: 1px 3px;
    height: 12px;
    max-width: 12px;
    background-color: #f8f6f6;
    left: 0%;
    border-color: white; }
  .carousel-indicators .active {
    background-color: rgba(14, 13, 13, 0);
    max-width: 12px;
    margin: 1px 3px;
    height: 12px;
    border: 1px solid white; } }

@media screen and (max-width: 449px) {
  .carousel-indicators--round li {
    border-radius: 8px;
    margin: 1px 3px;
    height: 12px;
    max-width: 12px;
    background-color: #f8f6f6;
    left: 0%;
    border-color: white;
    top: 20px; }
  .carousel-indicators .active {
    background-color: rgba(14, 13, 13, 0);
    max-width: 12px;
    margin: 1px 3px;
    height: 12px;
    border: 1px solid white; } }

.ch-hero h4 {
  color: #FFFFFF; }

.hero-mobile {
  font-family: 'Roboto', sans-serif; }
  .hero-mobile h3 {
    font-size: 28px; }
  .hero-mobile a {
    font-size: 50px;
    margin-top: 20px; }
